@media only screen and (min-width:750px) {
    .occurrence {
        grid-template-columns: auto;
    }

    .user-card {
        grid-row: span 2;
    }

    .user-details {
        flex-direction: column;
        align-items: start;
    }

    #user-image {
        margin-bottom: 40px;
    }

    #name {
        font-size: 56px;
    }

    .next {
        font-size: 56px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .daily {
        flex-direction: column;
        align-items: flex-start;
    }
}